// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.button-variant-default(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @background;
    background-color: @border;
        // border-color: darken(@border, 23%);
  }
  &:hover {
    color: @background;
    background-color: @border;
        // border-color: darken(@border, 10%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @background;
    background-color: @border;
        // border-color: darken(@border, 10%);

    &:hover,
    &:focus,
    &.focus {
      color: @background;
      background-color: @border;
          // border-color: darken(@border, 23%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color:  fadeout(@color, 50%);
      background-color: @background;
          // border-color:  fadeout(@border, 50%);
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

.button-variant(@color; @background; @hover: darken(@background, 10%)) {
  color: @color;
  background-color: @background;
  border-color: transparent;

  &:focus,
  &.focus {
    color: @color;
    background-color: @hover;
        // border-color: @hover;
  }
  &:hover {
    color: @color;
    background-color: @hover;
        // border-color: @hover;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: @hover;
        // border-color: @hover;

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background-color: @hover;
          // border-color: @hover;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: fadeout(@hover, 50%);
          // border-color: fadeout(@hover, 50%);
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}
