//== Primary colors

@dnb-primary-blue-1:    #005172;  // dark blue
@dnb-primary-blue-2:    #3095B4;  // lighter blue
@dnb-borders:           #D7E0E4;  // light gray
@dnb-backgrounds:       #F1F6F8;  // lighter gray

//== Secondary
@dnb-secondary-01:      #E1A357;  // peach orange
@dnb-secondary-02:      #BC4C05;  // burnt orange
@dnb-secondary-03:      #D06079;  // mauve
@dnb-secondary-04:      #963156;  // dark mauve
@dnb-secondary-05:      #C55E9B;  // light plumb
@dnb-secondary-06:      #8F3F6D;  // plumb
@dnb-secondary-07:      #9C5FB5;  // purple
@dnb-secondary-08:      #693A77;  // dark purple
@dnb-secondary-09:      #73AF55;  // green
@dnb-secondary-10:      #284E36;  // dark green
@dnb-secondary-11:      #00B2A9;  // teal
@dnb-secondary-12:      #006265;  // dark teal

//== Risk
@dnb-risk-low:          #69C568;  // green
@dnb-risk-mod-low:      #B9C552;  // yellow/green
@dnb-risk-moderate:     #FFC341;  // yellow/orange
@dnb-risk-mod-high:     #F79851;  // orange
@dnb-risk-high:         #EC6660;  // dark pink
@dnb-risk-severe:       #B54039;  // maroon
@dnb-risk-oob:          #333333;  // dark gray
@dnb-risk-na:           #BCC9DB;  // light lavender

//== Chart
@dnb-chart-01:          #4EB1CB;  // blue/ touch of green
@dnb-chart-02:          #717ECD;  // blue/ touch of purple
@dnb-chart-03:          #D96383;  // pink
@dnb-chart-04:          #D291D6;  // light purple
@dnb-chart-05:          #C3D785;  // lime green

//== Text
@dnb-heading-color:     @dnb-primary-blue-1;
@dnb-link-color:        #009ECE;
@dnb-text-color:        #002E41;
@dnb-small-text-color:  #728d96;  // gray/blue
