//
// Left-Hand Menu
// --------------------------------------------------
.page-wrapper {
  min-height: 500px;
  @media (min-width: @screen-sm-min) {
    padding-left: 275px;
  }
}
#left-hand-menu {
  width: 260px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: @left-hand-menu-bg;
}
