@import (css) "@{icon-font-path}";

i {
  position: relative;
  display: inline-block;
  // vertical-align: middle;
}
.alert-badge:after {
  content: '';
  width: .5em;
  height: .5em;
  background: @brand-danger;
  border: 0.075em solid @gray-lighter;
  border-radius: 100px;
  position: absolute;
  top: 2px;
  right: -0.1em;
}

.icon-search:before {
  top: 2px;
  left: 1px;
  position: relative;
}

.icon-user ~ .caret {
  margin-left: 2px;
}





// Copied from the cdn version
// Just in case something happens

// @font-face {
//   font-family: 'icomoon';
//   src:url('https://s3.amazonaws.com/icomoon.io/26698/ProductDesign/icomoon.eot?-uf5z50');
//   src:url('https://s3.amazonaws.com/icomoon.io/26698/ProductDesign/icomoon.eot?#iefix-uf5z50') format('embedded-opentype'),
//     url('https://s3.amazonaws.com/icomoon.io/26698/ProductDesign/icomoon.woff2?-uf5z50') format('woff2'),
//     url('https://s3.amazonaws.com/icomoon.io/26698/ProductDesign/icomoon.ttf?-uf5z50') format('truetype'),
//     url('https://s3.amazonaws.com/icomoon.io/26698/ProductDesign/icomoon.woff?-uf5z50') format('woff'),
//     url('https://s3.amazonaws.com/icomoon.io/26698/ProductDesign/icomoon.svg?-uf5z50#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// [class^="icon-"], [class*=" icon-"] {
//   font-family: 'icomoon';
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .icon-add:before {
//   content: "\e600";
// }
// .icon-alert:before {
//   content: "\e601";
// }
// .icon-arrow-down:before {
//   content: "\e602";
// }
// .icon-arrow-left:before {
//   content: "\e603";
// }
// .icon-arrow-right:before {
//   content: "\e604";
// }
// .icon-arrow-right2:before {
//   content: "\e605";
// }
// .icon-arrow-up:before {
//   content: "\e606";
// }
// .icon-circle:before {
//   content: "\e607";
// }
// .icon-close:before {
//   content: "\e608";
// }
// .icon-closure:before {
//   content: "\e609";
// }
// .icon-coin-dollar:before {
//   content: "\e60a";
// }
// .icon-credit-card:before {
//   content: "\e60b";
// }
// .icon-delete:before {
//   content: "\e60c";
// }
// .icon-document:before {
//   content: "\e60d";
// }
// .icon-downward-trend:before {
//   content: "\e60e";
// }
// .icon-edit:before {
//   content: "\e60f";
// }
// .icon-error:before {
//   content: "\e610";
// }
// .icon-flag:before {
//   content: "\e611";
// }
// .icon-forward:before {
//   content: "\e612";
// }
// .icon-info:before {
//   content: "\e613";
// }
// .icon-lock2:before {
//   content: "\e614";
// }
// .icon-menu:before {
//   content: "\e615";
// }
// .icon-notes:before {
//   content: "\e616";
// }
// .icon-open:before {
//   content: "\e617";
// }
// .icon-portfolio:before {
//   content: "\e618";
// }
// .icon-printer:before {
//   content: "\e619";
// }
// .icon-question:before {
//   content: "\e61a";
// }
// .icon-remove:before {
//   content: "\e61b";
// }
// .icon-search:before {
//   content: "\e61c";
// }
// .icon-settings:before {
//   content: "\e61d";
// }
// .icon-share:before {
//   content: "\e61e";
// }
// .icon-snapshot:before {
//   content: "\e61f";
// }
// .icon-sort-arrow:before {
//   content: "\e620";
// }
// .icon-spinner:before {
//   content: "\e621";
// }
// .icon-star-empty:before {
//   content: "\e622";
// }
// .icon-star-full:before {
//   content: "\e623";
// }
// .icon-success:before {
//   content: "\e624";
// }
// .icon-tag:before {
//   content: "\e625";
// }
// .icon-upward-trend:before {
//   content: "\e626";
// }
// .icon-user:before {
//   content: "\e627";
// }
// .icon-warning:before {
//   content: "\e628";
// }
// .icon-download4:before {
//   content: "\ec80";
// }
// .icon-arrow-up3:before {
//   content: "\edb6";
// }
// .icon-arrow-down3:before {
//   content: "\edbe";
// }